language: csharp
os: linux
dist: trusty
sudo: required
dotnet: 1.0.0-preview2-003121
mono: none
env: DOTNETCORE=1

script:
  - dotnet restore
  - cd dotnet-algorithms-tests
  - dotnet --verbose test 
  - cd .. 
